.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;

  h1 {
    padding-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
